@use '../utils' as u;
@use '../mixin' as r;


.header {
    display: flex;
    justify-content: space-between;
    padding-block: u.rem(30);
    background-color: var(--c-white);
    z-index: 100;
    
    @include r.media-up('xl') {
      padding-block: u.rem(90) u.rem(55);
    }
  
    &__logo {
      width: u.rem(45);
  
      @include r.media-up('xl') {
        width: u.rem(64);
      }
    }
  
    &__links {
      display: flex;
      gap: u.rem(40);
  
     @include r.media-down('xl') {
        flex-direction: column;
        gap: u.rem(24);
      }
    }
  
    &__link {
      color: var(--c-blue);
      font-size: u.rem(18);
      line-height: 1.3;
  
      @include r.media-up('xl') {
        font-size: var(--f-body);
        color: var(--c-gray);
      }
  
      &:hover {
        color: var(--c-red);
      }
    }
  }