@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt-wght.eot") format("embedded-opentype"),
        url("../fonts/Inter-VariableFont_slnt-wght.woff") format("woff"),
        url("../fonts/Inter-VariableFont_slnt-wght.woff2") format("woff2"),
        url("../fonts/Inter-VariableFont_slnt-wght.ttf") format("truetype");
    font-display: swap;
}