@use '../utils' as u;
@use '../mixin' as r;


.new {
    background-color: var(--c-blue);
    padding: u.rem(24) u.rem(20);
    margin-block-end: u.rem(35);

    @include r.media-up('xl') {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    &__title {
        color: var(--c-yellow);
        font-size: clamp(u.rem(32), 1.823943661971831rem + 0.7511737089201878vw, u.rem(40));

    }

    &__post {
        border-block-end: 1px solid var(--c-gray);
        padding-block: u.rem(30);

        &:last-child {
            border: none;
        }
    }

    &__headline a {
        display: inline-block;
        font-size: u.rem(20);
        font-weight: 800;
        margin-block-end: u.rem(8);
        color: var(--c-white);

        &:hover {
            color: var(--c-yellow);
        }
    }

    &__description {
        font-style: u.rem(15);
        color: var(--c-silver);
    }

}